.Home {
    display: flex;
    height: 100vh;
    background: url("../../Img/paper.png");
    background-size: 60.5%;
    background-position-x: 50rem;
    background-position-y: -9rem;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background: rgb(25, 180, 199);
    background: linear-gradient(120deg, rgba(25, 180, 199, 1) 0%, rgba(25, 31, 199, 1) 50%, rgba(119, 25, 201, 1) 100%);
}

.Home__Container {
    height: 100vh;
    width: 35rem;
    /* border: 2px solid red; */
    padding: 14.6rem 0 0 1rem;
}

.Home__CreateItem {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .3rem;
    padding-bottom: .3rem;
    justify-content: center;
    align-items: center;
}

.Home__CreateItem__Buttons {
    display: flex;
    gap: 1rem;
}

.Home__CreateItem input {
    font-family: 'Roboto', sans-serif;
    padding-left: .5rem;
    font-size: 2rem;
    width: 30rem;
}

.Home__CreateItem button {
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
}

.Home__CreateItem button:nth-child(2) {
    font-size: 1.2rem;
}

.Home__CreateItem__Input {
    background-color: rgba(0, 255, 255, 0);
    color: white;
    text-shadow: black .1rem .35rem .4rem;
    border: white 5px groove;
    height: 3rem;
}

.Home__Container__HeaderL {
    text-align: center;
    font-size: 3.25rem;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    text-shadow: black .1rem .35rem .4rem;
}

.Home__Container__HeaderS {
    width: 20rem;
    height: 2rem;
    position: absolute;
    left: 19rem;
    top: 18.5rem;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    text-shadow: black .1rem .25rem .2rem;
    font-size: .85rem;
}

.Home__Counter {
    width: 32rem;
    height: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    text-shadow: black .1rem .25rem .2rem;
}

.ArrItem__Buttons {
    margin-right: .5rem;
}

.ArrItem__Buttons__Delete {
    transition: ease-in-out .2s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    left: -3rem;
}

.Home__CreateItem__Buttons__Submit {
    background-color: #efefef00;
    color: white;
    text-shadow: black .1rem .25rem .15rem;
    border: white 5px groove;
}

.ArrItem__Buttons__Delete:hover {
    color: red;
    transition: ease-in-out .2s;
}

.ArrItem {
    width: 22.6vw;
    height: 5.5rem;
    color: white;
    text-shadow: black .1rem .35rem .4rem;
    /* border: 2px solid red; */
    display: flex;
    border-radius: 1rem;
}

.ArrItem__Item {
    /* border: 2px solid red; */
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    width: 24.9rem;
    height: 5.5rem;
    display: flex;
    padding-left: .8rem;
    align-items: center;
}

.Home__ToDos {
    position: absolute;
    left: 35.9rem;
    top: .5rem;
    display: flex;
    gap: 1rem;
    /* border: 2px solid red; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 70.1vw;
    /* height: 99.1vh; */
}

.ArrItem__Buttons__Checkbox {
    width: 2rem;
    height: 5.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .6s;
    background-color: #833ab4;
    border: none;
}

.ArrItem__Buttons__Checkbox:hover {
    transition: ease-in-out .6s;
    width: 5rem;
    background: green;
    color: white;
    border: none;
}