.Home {
    display: flex;
    height: 100vh;
    background: url("../../Img/paper.png");
    background-size: 60.5%;
    background-position-x: 50rem;
    background-position-y: -9rem;
    background-repeat: no-repeat;
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
}

.Home__Container {
    height: 57.8rem;
    height: 100vh;
    width: 50.9rem;
    
    padding: 14.6rem 0 0 1rem;
    background-image: url("../../Img/table.jpg");
    background-repeat: no-repeat;
    background-size: 200%;
}

.Home__CreateItem {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .3rem;
    padding-bottom: .3rem;
    justify-content: center;
    align-items: center;
}
.Home__CreateItem__Buttons{
    display: flex;
    gap: 1rem;
}
.Home__CreateItem input {
    font-family: 'Roboto', sans-serif;
    padding-left: .5rem;
    font-size: 2rem;
    width: 45rem;
}
.Home__CreateItem button {
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.Home__CreateItem button:nth-child(2) {
    font-size: 1.2rem;
}
.Home__CreateItem__Input{
    background-color: rgba(0, 255, 255, 0);
    color:white;
    text-shadow: black .1rem .35rem .4rem;
    border: white 5px groove;
    height: 3rem;
}
.Home__Container__HeaderL{
    text-align: center;
    font-size: 3.25rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-shadow: black .1rem .35rem .4rem;
}
.Home__Container__HeaderS{
    width: 20rem;
    height: 2rem;
    position: absolute;
    left: 28.9rem;
    top: 18.5rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-shadow: black .1rem .25rem .2rem;
    font-size: 1rem;
}
.Home__Counter {
    width: 32rem;
    height: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-shadow: black .1rem .25rem .2rem;
}

.ArrItem__Buttons {
    margin-right: .5rem;
}

.ArrItem__Buttons__Delete {
    transition: ease-in-out .2s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    left: -3rem;
}
.Home__CreateItem__Buttons__Submit{
    background-color: #efefef00;
    color:white;
    text-shadow: black .1rem .25rem .15rem;
    border: white 5px groove;
}
.ArrItem__Buttons__Delete:hover {
    color: red;
    transition: ease-in-out .2s;
}

.ArrItem {
    margin-bottom: -.35rem;
    width: 49.6vw;
    display: flex;

}
.ArrItem__Item{
 /* padding: Up Right Down  Left */
    padding: 0  .5rem .3rem .3rem ;
    margin:  -.25rem  0     0     0;
}

.Home__ToDos{
    position: absolute;
    left: 60.5rem;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 47vw;
    /* border: 1px solid red; */
}
.ArrItem__Buttons__Checkbox{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: .8rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .2s;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: none;
}
.ArrItem__Buttons__Checkbox:hover{
    transition: ease-in-out .2s;
    color: #EFEFEF;
    background-color: green;
    border-radius: 50%;
    border: none;
}